{% extends 'stockedup/base.html' %}

{% block title_block %}
	{{ 'Stocked Up' }}
{% endblock %}

{% block body_block %}
	<div id="scalybox">
		<h1 id="titlebox">Keep track of your stocks saving time and money.</h1>
		<div id="authbox" class="login">
			<span><a href="{% url 'registration_register' %}">Signup</a><a href="{% url 'auth_login' %}" style="color:white">Login</a></span>
			<div id="login">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Log in" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
			</div>
		</div>
	</div>
{% endblock %}
