{% extends 'stockedup/base.html' %}

{% block title_block %}
	{{ 'Stocked Up' }}
{% endblock %}

{% block body_block %}
	<div id="scalybox">
		<h1 id="titlebox">Keep track of your stocks saving time and money.</h1>
		<div id="authbox" class="signup">
			<span><a href="{% url 'registration_register' %}">Signup</a><a href="{% url 'auth_login' %}">Login</a></span>
			<div id="signup">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
			</div>
		</div>
	</div>
{% endblock %}
