<!DOCTYPE html>
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="{% static "stockedup/js/rango-jquery.js" %}"></script>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "stockedup/css/style.css" %}" />
		<title>
			{% block title_block %}
				StockedUp
			{% endblock %}
		</title>
	</head>
	<body>
		<div id="header">
			<a href="/stock"><h1>Stocked Up</h1></a>
			{% if user.is_authenticated %}
				<span>
					<a href="{% url 'auth_password_change' %}">Change Password</a>
					<a href="{% url 'auth_logout' %}?next=/accounts/login/">Logout</a>
				</span>
			{% endif %}
		</div>
		{% block body_block %}
		{% endblock %}
	</body>
</html>
