{% extends 'stockedup/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ 'Stock' }}
{% endblock %}

{% block body_block %}
	<div id="fixedbox">
		<div id="currentStock" class="stockbox">
			<span><h1>Stock</h1><a class="edit">Edit</a></span>
			<li>
				{% for item in stock %}
					<ul data-kgpw="{{ item.kgpw }}" data-ppkg="{{ item.ppkg }}" data-fromemail="{{ item.from.email }}"><span data-type="name">{{ item.name }}</span><span data-type="from">{{ item.from }}</span><span data-type="amount">{{ item.amount }}kg</span></ul>
				{% endfor %}
				<ul id="additem">Add</ul>
			</li>
		</div>
		<div id="upcomingOrders" class="stockbox">
			<h1>Upcoming Orders</h1>
			<li>
				{% for day in orders %}
					<ul>
						<h2><span>{{ day.date }}</span><span id="amount">£{{ day.total }}</span></h2>
						<li>
							{% for order in day.orders %}
								<ul><span>{{ order.name }}</span><span>£{{ order.cost }}</span><span>{{ order.amount }}kg</span></ul>
							{% endfor %}
						</li>
					</ul>
				{% endfor %}
			</li>
		</div>
	</div>
{% endblock %}
