html {
    background-color: #45a067;
    font-family: sans-serif;
    font-size: 20px;
}

body {
    margin: 0px;
}

div#header {
    background-color: #2e8f52;
    padding: 15px;
}

#header h1 {
    margin: 0px;
    color: #fff;
    font-weight: 400;
    font-size: 29px;
}

h1#titlebox {
    color: #fff;
    width: calc(100% - 300px);
    margin: 30px;
    margin-left: 15px;
    font-size: 60px;
    display: inline-block;
    text-align: left;
}

div#authbox {
    display: inline-block;
    width: 223px;
    position: absolute;
    top: 94px;
}

#authbox a {
    margin: 5px;
    color: rgba(255, 255, 255, 0.41);
    margin-right: 10px;
    cursor: pointer;
}

#authbox span {
    padding: 5px;
    display: block;
    margin-bottom: 5px;
}

#authbox.signup #signup, #authbox.login #login {
    display: block;
}

#authbox div {
    display: none;
    background-color: #fff;
    padding: 1px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

input {
    width: calc(100% - 27px);
    border: none;
    border-bottom: 2px solid #45a067;
    font-size: 18px;
    padding: 7px;
    padding-bottom: 4px;
    padding-left: 1px;
    margin-top: 9px;
}

input[type="submit"] {
    width: inherit;
    color: green;
    font-weight: bold;
    background: none;
    border: none;
    padding: 7px;
}

div#scalybox {
    max-width: 900px;
}

@media (min-width: 900px) {
	div#scalybox {
    margin-left: calc(50% - 450px);
	}
}
@media (min-width: 930px) {
	div#fixedbox {
		margin-left: calc(50% - 465px);
	}
}
@media (max-width: 930px) {
	html div#upcomingOrders,html div#currentStock {
		float: none;
		width: calc(100% - 10px);
	}
}


#authbox input[type="submit"] {
    position: relative;
    left: -65px;
    padding-left: 4px;
    cursor: pointer;
}

div#currentStock {
    width: 380px;
    margin-right: 30px;
}

div#upcomingOrders {
    width: 500px;
    float: right;
}

#currentStock h1,#upcomingOrders h1 {
    font-weight: 600;
    margin: 0px;
    display: inline-block;
    color: #fff;
    font-size: 25px;
}

#currentStock li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    display: block;
}


#authbox.signup a.signup,#authbox.login a.login {
    color: #fff;
}

#currentStock a {
    font-weight: 300;
    float: right;
}

.stockbox {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}

.stockbox > span {
    color: #fff;
    margin: 10px;
    display: block;
    font-size: 25px;
}


.stockbox ul {
    display: inline-block;
    width: calc(100% - 20px);
    margin: 0px;
    padding: 10px;
    border-top: 1px solid #2b6541;
}

#currentStock ul:first-child {
    /* border: none; */
}

.stockbox ul span {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 33%;
    font-size: 20px;
}

.stockbox ul span:first-child {
    text-align: left;
}


.stockbox ul span:last-child {
    float: right;
    text-align: right;
}

#upcomingOrders h1 {
    margin: 10px;
    margin-left: 0px;
}

#upcomingOrders li {
    display: block;
}

#upcomingOrders > li > ul {
    border: none;
    padding: 0px;
    color: #fff;
    font-size: 15px;
    width: 100%;
}

.fixedbox {
    width: 900px;
}

.stockbox h2 {
    font-weight: inherit;
    margin: 5px;
    margin-top: 0px;
}

#upcomingOrders li li {
    background: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.stockbox ul:first-child {
    border: none;
}


div#fixedbox {
    max-width: 930px;
}
